# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*vcproj.SPACE150*
cing/obj
cing/lib
*.manifest
*.suo
*.ncb
/CingExamples.opensdf
/CingExamples.sdf
/Backup/
/_UpgradeReport_Files/
/ipch/
*.sdf
*.opensdf


# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
