# Resources required by the sample browser and most samples.
[Essential]
Zip=../../../../Samples/Media/packs/SdkTrays.zip
Zip=../../../../Samples/Media/packs/profiler.zip
FileSystem=../../../../Samples/Media/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=../../../../Samples/Media/fonts
FileSystem=../../../../Samples/Media/materials/programs
FileSystem=../../../../Samples/Media/materials/scripts
FileSystem=../../../../Samples/Media/materials/textures
FileSystem=../../../../Samples/Media/materials/textures/nvidia
FileSystem=../../../../Samples/Media/models
FileSystem=../../../../Samples/Media/particle
FileSystem=../../../../Samples/Media/DeferredShadingMedia
FileSystem=../../../../Samples/Media/PCZAppMedia
FileSystem=../../../../Samples/Media/RTShaderLib
FileSystem=../../../../Samples/Media/RTShaderLib/materials
FileSystem=../../../../Samples/Media/materials/scripts/SSAO
FileSystem=../../../../Samples/Media/materials/textures/SSAO
FileSystem=../../../../Samples/Media/volumeTerrain
Zip=../../../../Samples/Media/packs/cubemap.zip
Zip=../../../../Samples/Media/packs/cubemapsJS.zip
Zip=../../../../Samples/Media/packs/dragon.zip
Zip=../../../../Samples/Media/packs/fresneldemo.zip
Zip=../../../../Samples/Media/packs/ogretestmap.zip
Zip=../../../../Samples/Media/packs/ogredance.zip
Zip=../../../../Samples/Media/packs/Sinbad.zip
Zip=../../../../Samples/Media/packs/skybox.zip
Zip=../../../../Samples/Media/volumeTerrain/volumeTerrainBig.zip

[General]
FileSystem=../../../../Samples/Media

# Materials for visual tests
[Tests]
FileSystem=../../../../Tests/Media
